.links-navbar {
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;

    &:hover {
        color: blue;
    }


}

.logo-image-navbar {
    width: 4rem;
}

.custom-nav-style {
    padding: 1rem 8rem;
}