.main-jumbotron {
    background-color: rgb(28, 28, 28);
    padding-top: 2rem;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 3rem;
    position: relative;

    h5 {
        color: white;
    }
}

.background-jumbotron  {
    min-height: 350px;
}
