.main-jumbotron {
    background-color: rgb(28, 28, 28);
    padding-top: 2rem;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 3rem;

    h5 {
        color: white;
    }
}

.custom-height-jumbotron-img {
    max-height: 300px;
    overflow: hidden;
}