:root{
    --bs-primary-rgb: 2, 130, 249;
}

.main-jumbotron {
    background-color: rgb(28, 28, 28);
    padding-top: 2rem;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 3rem;
    position: relative;

    h5 {
        color: white;
    }
}

.container-jumbotron-img {
    background-image: url("/public/img/jumbotron.jpg");
    min-height: 400px;
}