:root{
    --bs-primary-rgb: 2, 130, 249;
}

.custom-navlinks-section {
    padding: 2rem 8rem;
    .img-custom-navlinks {
        max-width: 40px;
        max-height: 40px;
    }
    p{
        font-size: .7rem;
        font-weight: 400;
        padding-left: .5rem;
    }
}